source: https://www.linuxquestions.org/questions/linux-laptop-and-netbook-25/debian-10-buster-on-thinkpad-p51-nvidia-quadro-m2200-4175663184/

# Debian 10 Buster on ThinkPad P51 (Nvidia Quadro M2200)

Here are some notes about installing Debian 10.1 on ThinkPad P51 with Nvidia Quadro M2200

Debian Installation :
- Set Bios to Hybrid Display mode
- Plug ethernet cable for installation (no wifi)
- Burn Debian installation iso on usb key
- Boot on usb key and follow installation
- Check "no" when installation requests for non-free wifi drivers
- Login and download Nvidia Drivers from Nvidia website (NVIDIA-Linux-x86_64-430.50.run)
- Blacklist Nouveau GPU drivers. This is needed to install Nvidia drivers from Nvidia web site. Do not install with Nvidia debian package (version 390 and 418) because the brightness button is not working.
Code:

echo blacklist nouveau > /etc/modprobe.d/blacklist-nvidia-nouveau.conf
echo options nouveau modeset=0 >> /etc/modprobe.d/blacklist-nvidia-nouveau.conf
cat /etc/modprobe.d/blacklist-nvidia-nouveau.conf
update-initramfs -u

Wifi card installation :
- add non-free repo
Code:

su -
vi /etc/apt/sources.list

Code:

deb http://deb.debian.org/debian/ buster main non-free contrib
deb-src http://deb.debian.org/debian/ buster main non-free contrib

Code:

apt update
apt-get install firmware-iwlwifi
reboot

Nvidia driver installation:
- Reboot
- Set Bios to Discrete Display mode
- At login screen, open a tty console (Ctrl-Alt-F2) login as root (su -)
Quote:
chmod u+x NVIDIA-Linux-x86_64-430.50.run
systemctl stop gdm3
./NVIDIA-Linux-x86_64-430.50.run
overwrite libraries and config files when asked for.

To adjust brightness to middle range at startup you can add this line
Code:

echo 50 > /sys/class/backlight/nvidia_0/brightness

to a startup script i.e /etc/gdm3/Init/Default

Hibernate
- Add a swapfile if you do not have any swap partition
- Do NOT install hibernate neither uswsusp (resume hangs on this platform ?!) but pm-utils
Code:

su - 
apt install pm-utils
pm-hibernate

Bluetooth
Work out of the box

Audio
Work out of the box
