/edmund/__vm
/edmund/Debug
/edmund/*.vcxproj.filters
/edmund/*.vcxproj.user
/edmund/Release
/output
/bin
/scripts/abn
/scripts/bin
**/.vs
/build
/scripts/serlog
/scripts/screenlog.0
/scripts/espexp.zip
/scripts/decode
/edmund/test/build
/edmund/test/Testing
/sdk
/edmund/test/CMakeFiles
/edmund/test/arduino_mock/cmake_install.cmake
/edmund/test/arduino_mock/CTestTestfile.cmake
/edmund/test/arduino_mock/Makefile
/edmund/test/arduino_mock/CMakeFiles
/scripts/build.log
